<a href="https://colab.research.google.com/github/lucasnserra/Indices-FACPCE/blob/main/WS_indices_FACPCE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
!git init
!git clone https://github.com/lucasnserra/Indices-FACPCE.git
%cd Indices-FACPCE/

Reinitialized existing Git repository in /content/.git/
Cloning into 'Indices-FACPCE'...
remote: Enumerating objects: 4, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 4 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (4/4), 4.54 KiB | 4.54 MiB/s, done.
/content/Indices-FACPCE

In [1]:
#Dependencia necesaria de pandas para leer excel
%pip install openpyxl
%pip install xlrd
#Instalo BS4 para el scrapping
%pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.9/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.9/dist-packages (from openpyxl) (1.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.9/dist-packages (2.0.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4) (2.4)

In [2]:
#importo librerias necesarias 
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [13]:
# Ingesta de datos
url = "https://www.facpce.org.ar/indices-facpce/"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

# buscar el enlace que deseas descargar
link = soup.select_one("body > div.scroll-container > div > div.featured-boxes-container > div:nth-child(1) > div.featured-inner-text-box > div > a:nth-child(2)")["href"]

# descargar el archivo apuntado por el enlace
response = requests.get(link)
open("file.xlsx", "wb").write(response.content)

# almacenar el archivo en una variable de pandas
df = pd.read_excel("file.xlsx", engine="openpyxl")

In [14]:
# Manipulacion de datos

# Elimino filas y columnas que sean NaN
df = df.dropna(axis=1,how='all')
df = df.dropna(axis=0,how='all')

#remplazo primera fila como nombre de las columnas 
df.columns = df.iloc[0]
df = df.drop(df.index[0])


# para eliminar las filas donde la columna 'columna_especifica' no sea de tipo 'numero'
df = df[pd.to_numeric(df['IPC NACIONAL EMPALME IPIM'], errors='coerce').notna()]

#transformo fecha a periodo 

df['MES'] = pd.to_datetime(df['MES']).dt.to_period('M')

#imprimo DF
df

1        MES IPC NACIONAL EMPALME IPIM
2    1993-01                  7.467067
3    1993-02                  7.500999
4    1993-03                  7.522855
5    1993-04                  7.561971
6    1993-05                  7.537982
..       ...                       ...
359  2022-10                  1028.706
360  2022-11                 1079.2787
361  2022-12                 1134.5875
362  2023-01                  1202.979
363  2023-02                 1282.7091

[362 rows x 2 columns]

In [16]:
!git status

fatal: not a git repository (or any of the parent directories): .git

In [19]:
# Guardar DataFrame en un archivo CSV
df.to_csv('mi_dataframe.csv', index=False)
# Subir archivo CSV a GitHub
!git add mi_dataframe.csv
!git commit -m "Agregar archivo CSV"
!git push

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@8cbe026fe03c.(none)')
fatal: could not read Username for 'https://github.com': No such device or address